.connect {
  position: fixed;
  top: 5%;
  left: 5%;
}

.btn {
  background-color: var(--tw-color1);
  outline: none;
  border: none;
  color: var(--white);
  height: 48px;
  padding: 0 24px;
  border-radius: 999px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;

  transition: background-color 300ms ease-in-out;
  transform-origin: center;
}

.btn:hover {
  background-color: var(--tw-color1-hover);
}

.btn:active {
  transform: scale(0.95);
}

.address {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 24px;
}

.aboutContainer {
  display: flex;
  margin: auto;
  word-wrap: break-word;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 24px;
  font-size: 1.125rem;
}

.faqContainer {
  word-wrap: break-word;
  text-align: left;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding:0 20em 0 20em;
  font-size: 1.125rem;
}

.page {
  width: inherit;
  border-radius: 20px;
  border: 1px solid var(--tw-color1);
  padding: 16px;
}

.pageContainer {
  max-width: 600px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  gap: 2%;
  padding: 1rem;
}

.arrowButton {
  border-radius: 50%;
  width: 30px;
}

.owner {
  font-size: 1rem;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  background-color: var(--hero-darkblue);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 96px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
}

.listItems {
  list-style-type: none;
  text-align:left;
}

.listItemsBig {
  font-family: "Luckiest Guy";
  color: var(--hero-darkblue);
  font-size: 2rem;
  list-style-type: none;
  text-align:left;
}

.heartBullet {
  width:auto;
  max-width: 25px !important;
}

.logo {
  width: 100%;
  max-width: 500px;
}

.hupeScout {
  width: 100%;
  max-width: 600px;
}

.hunnysDerivs {
  width: 100%;
  margin-top: 8rem;
  max-width: 1920px;
  opacity: .7;
}

.osCollectionImage {
  width: 100%;
  max-width: 1920px;
}

.exampleImages {
  width: auto;
  padding: 20px;
  max-width: 400px;
  z-index: 5;
}

.navLink {
  text-decoration: none;
  color: white;
  align-items: right;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
}

.right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 5%;
}

.secondaryButton {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  color: #fff;
  font-weight: 600;
}

.mainButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: var(--yellow);
  color: var(--hero-darkblue);
  font-family: "Luckiest Guy";
  width: 180px;
  text-align: center;
}

.web3Button{
  max-width: 20px;
  margin:auto;
}

.web3ButtonHeader:focus, .web3ButtonHeader > ul {
  background-color: black !important;
}

.web3Button:focus, .web3Button > ul {
  background-color: black !important;
}

#menu::Ri4m::content {
  background-color: black !important;
}

#menu::R3am::popper {
  background-color: black !important;
}

ul#menu::R3am::content.css-84obl9 {
  background-color: black !important;
}

.mainButton:hover {
  opacity: 0.8;
}

.osButton {
  cursor: pointer;
  display: inline-flex;
  appearance: none;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 4.5rem;
  min-width: 4.5rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
  background: #407FDB;
  color: white;
  font-family: "Luckiest Guy";
  width: 180px;
  text-align: center;
}

.osButton:hover {
  opacity: 0.8;
}

.ourCollection {
  margin-bottom: 16px;
}

.theCollection {
  margin-bottom: 16px;
}

.collectionContainer {
  width: 800px;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.nftName {
  font-family: "Luckiest Guy";
  font-size: 1.125rem;
  letter-spacing: 1px;
}

.nftGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nftItem {
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  background-color: #F7F8F9;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 16px;
  padding: 25px;
  margin-top: 12px;
}

.textGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mintShadow {
  box-shadow: 0 0 50px rgb(0 0 0 / 50%);
  background-color: var(--hero-lightblue);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-top: 50px;
  padding: 20px;
}

.textItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.h1 {
  margin-bottom: 0px;
  letter-spacing: 2px;
}

.explain {
  font-size: 1.125rem;
}

.purple {
  color: #9f2c9d;
}

.white {
  color: #ffffff;
  text-decoration: none;
}

.divider {
  width: 50%;
  border-color: transparent;
  margin-top: 64px;
}

.smallDivider {
  width: 25%;
  border-color: grey;
  opacity: 0.25;
}

.walletNavText {
  margin-left: 8px;
  margin-right: 8px;
  color: white;
}

.textInput {
  width: 75%;
  background-color: white;
  border: 2px solid var(--hero-darkblue);
  border-radius: 8px;
  color: black;
  height: 48px;
  padding: 0 16px;
  font-size: 1rem;
  margin-bottom: 16px;
}

.imageInput {
  width: 100%;
  height: 100px;
  background-color: transparent;
  border: 1px dashed black;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .faqContainer {
    padding: 0 2em 0 2em !important;
  }
}

@media only screen and (max-width: 900px) {
  .exampleImages {
    display:none;
  }
  .nftOwner {
    display:none;
  }
  .nftDescription {
    display: none;
  }
  .nftItem {
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .collectionContainer {
    width: 400px;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  .right {
    display: none;
  }
  .exampleImages {
    width: auto;
    max-width: 150px;
  }
  .textItem {
    width: 100%;
  }
}
